# Ignorar todo en Fullstack excepto ProyectoRocca_Scarpato
/*
!ProyectoRocca_Scarpato/

# Ignorar archivos y carpetas específicas dentro de ProyectoRocca_Scarpato si es necesario
# Puedes añadir más excepciones según sea necesario

# Ignorar todo en Fullstack
Fullstack/*

# Excepción para la carpeta de trabajo
!Fullstack/ProyectoRocca_Scarpato/
